apiVersion: v1
kind: Service
metadata:
  name: redpanda
  namespace: bank-pipeline
spec:
  ports:
  - name: kafka
    port: 9092
    targetPort: 9092
  selector:
    app: redpanda
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redpanda
  namespace: bank-pipeline
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redpanda
  template:
    metadata:
      labels:
        app: redpanda
    spec:
      containers:
      - name: redpanda
        image: redpandadata/redpanda:latest
        imagePullPolicy: IfNotPresent
        args:
          - redpanda
          - start
          - --overprovisioned
          - --smp=1
          - --memory=512M
          - --reserve-memory=0M
          - --node-id=0
          - --kafka-addr=0.0.0.0:9092
          - --advertise-kafka-addr=redpanda.bank-pipeline.svc.cluster.local:9092
        ports:
        - containerPort: 9092
