apiVersion: v1
kind: Service
metadata: { name: minio, namespace: bank-pipeline }
spec:
  type: NodePort
  ports:
  - name: api
    port: 9000
    targetPort: 9000
    nodePort: 31001
  - name: console
    port: 9001
    targetPort: 9001
    nodePort: 31002
  selector: { app: minio }
---
apiVersion: apps/v1
kind: Deployment
metadata: { name: minio, namespace: bank-pipeline }
spec:
  replicas: 1
  selector: { matchLabels: { app: minio } }
  template:
    metadata: { labels: { app: minio } }
    spec:
      containers:
      - name: minio
        image: minio/minio:latest
        env:
        - name: MINIO_ROOT_USER
          valueFrom: { secretKeyRef: { name: db-secrets, key: MINIO_ROOT_USER } }
        - name: MINIO_ROOT_PASSWORD
          valueFrom: { secretKeyRef: { name: db-secrets, key: MINIO_ROOT_PASSWORD } }
        - name: MINIO_DEFAULT_BUCKETS
          value: ""
        args: ["server","/data","--console-address",":9001"]
        ports:
        - { containerPort: 9000 }
        - { containerPort: 9001 }
